
@tailwind base;
@tailwind components;

@layer utilities {
  .text-gray-300 {
    color: #d1d5db;
  }
}

@layer components {
  .bannerIcon {
    @apply w-16 h-16 inline-flex items-center justify-center rounded-md shadow-shadowOne cursor-pointer duration-300 bg-black bg-opacity-25 text-gray text-xl hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor ;
  }
  .resumeli {
    @apply w-full h-20 bg-[#050505] bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none border-none;
  }
  .bgOpacity {
    @apply bg-dark bg-opacity-40;
  }
}

@tailwind utilities;
